<% layout("layout") %>

<div class="map-wrap">
    <h2 class="map-title">📡 Live Incident Map</h2>
    <div id="map"></div>
</div>

<script>
    const url = new URLSearchParams(window.location.search);
    const lat = url.get("lat");
    const lng = url.get("lng");

    let defaultLat = lat ? parseFloat(lat) : 20.5937;
    let defaultLng = lng ? parseFloat(lng) : 78.9629;
    let zoomLevel = lat ? 15 : 5;

    var map = L.map('map').setView([defaultLat, defaultLng], zoomLevel);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    
    <% incidents.forEach(i => { %>
      <% if(i.location && i.location.lat){ %>

        
        let color = "cyan";
        if("<%= i.severity %>" === "High") color = "red";
        else if("<%= i.severity %>" === "Medium") color = "orange";
        else if("<%= i.severity %>" === "Suspicious") color = "gray";

        L.circleMarker([<%= i.location.lat %>, <%= i.location.lng %>],{
            radius:10,
            color:color,
            fillColor:color,
            fillOpacity:0.9,
        }).addTo(map)
        .bindPopup(`
            <b><%= i.title %></b><br>
            Type: <%= i.type %><br>
            Severity: <span style="color:${color};font-weight:700;">
              <%= i.severity %>
            </span><br>
            <a href="/incidents/<%= i._id %>" style="color:#00eaff;font-weight:600;">
                👁️ View
            </a>
        `);

      <% } %>
    <% }) %>
</script>


<script src="/socket.io/socket.io.js"></script>
<script>
 const socket = io();
 socket.on("newIncident",(i)=>{

    let color="cyan";
    if(i.severity=="High") color="red";
    else if(i.severity=="Medium") color="orange";
    else if(i.severity=="Suspicious") color="gray";

    if(i.location?.lat){
        L.circleMarker([i.location.lat,i.location.lng],{
            radius:10,
            color:color,
            fillColor:color,
            fillOpacity:0.9,
        }).addTo(map)
        .bindPopup(`
            <b>${i.title}</b><br>
            Type: ${i.type}<br>
            Severity:
            <span style="color:${color};font-weight:700;">${i.severity}</span><br>
            <a href="/incidents/${i._id}" style="color:#00eaff;font-weight:600;">
              👁️ View
            </a>
        `).openPopup();
    }
 });
</script>
